<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OTAS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Student
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Student", "Index", "STUDENTs")</li>
                                <li>@Html.ActionLink("Student Bulk Add", "BulkUpload", "STUDENTs")</li>
                                @if (User.IsInRole("Hod"))
                                {
                                    <li>@Html.ActionLink("Authorize Students", "AuthorizeStudents", "STUDENTs")</li>
                                }
                            </ul>
                        </li>

                        <li>@Html.ActionLink("Teacher", "Index", "Teachers")</li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Subject", "Index", "Subjects")</li>
                        }

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Elective
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Electives", "Index", "NewElectivesTables")</li>
                                <li>@Html.ActionLink("Electives Bulk Add", "BulkUpload", "NewElectivesTables")</li>
                                @if (User.IsInRole("Hod"))
                                {
                                    <li>@Html.ActionLink("Authorize Electives", "AuthorizeElectives", "NewElectivesTables")</li>
                                }
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Subject Combinations
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li><a href="#">@Html.ActionLink("Add Subject Combinations", "Index", "AddTeacher")</a></li>
                                }
                                <li><a href="#">@Html.ActionLink("View Subject Combinations", "ViewSubjectCombinations", "AddTeacher")</a></li>
                                @if (User.IsInRole("Hod"))
                                {
                                    <li>@Html.ActionLink("Authorize Subject Combinations", "AuthorizeSubComb", "AddTeacher")</li>
                                }
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Reports
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Student", "Print", "STUDENTs")</li>
                                <li>@Html.ActionLink("Teacher", "Print", "Teachers")</li>
                                <li>@Html.ActionLink("Subject", "Print", "Subjects")</li>
                                <li>@Html.ActionLink("Electives", "Print", "NewElectivesTables")</li>
                                <li>@Html.ActionLink("Subject Combinations", "PrintSubjectCombinations", "AddTeacher")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Templates
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Student", "GetTemplateForStudent", "Template")</li>
                            </ul>
                        </li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
