@model PreOTAS.Models.STUDENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>STUDENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FATHERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FATHERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOTHERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTHERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GUARDIANNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUARDIANNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERM_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERM_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOC_ADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOC_ADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOBILE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOBILE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRIMARY_CONTACT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRIMARY_CONTACT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSLC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSLC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPT.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPT.DeptName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.USN }) |
    @Html.ActionLink("Back to List", "Index")
</p>
