@using PreOTAS.Models;
@model IEnumerable<PreOTAS.Models.STUDENT>

@{
    ViewBag.Title = "FilterStudent";
}

<h2>FilterStudent</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.USN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.USN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.DEPT.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
    </tr>
}

</table>
<div class="text-center">

    <nav aria-label="Page navigation">

        <ul class="pagination" data-bind='foreach: new Array(vm.PageCount())'>

            <li><a data-bind='text: $index()+1, click: function(){$parent.vm.CurrentPage($index()+1);$parent.FilterStudent();}'></a></li>

        </ul>

    </nav>

</div>