@model IEnumerable<PreOTAS.Models.NewElectivesTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject.SubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STUDENT.NAME)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.STUDENT.NAME)
            </td>
            <td>
                @if (item.isValid.HasValue && !item.isValid.Value)
                {
                    <div>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </div>
                }

            </td>
        </tr>
    }

</table>
